* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto auto 50px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "section main main main"
    "article main main main"
    "footer footer footer footer";
  grid-gap: 10px;
}
/*header*/

header {
  background-color: lightblue;
  grid-area: header;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.3fr;
  grid-template-areas: "title searchbox signin";
}
.title {
  color: black;
  font-family: "Cedarville Cursive", cursive;
  font-size: 24px;
  grid-area: title;
  align-self: center;
  justify-self: center;
}
.searchBox {
  /* background-color: white; */
  height: 60%;
  width: 100%;
  grid-area: searchbox;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBoxInput {
  /* display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; */
  height: 70%;
  width: 70%;
}
.signin {
  grid-area: signin;
}
/* Main */

main {
  background-color: lightgreen;
  grid-area: main;
  border-radius: 8px;
}
/* footer */

footer {
  background-color: lightcoral;
  grid-area: footer;
}
/* section */

section {
  background-color: lightskyblue;
  grid-area: section;
  opacity: 0;
  border-radius: 8px;
}
/* article */

article {
  background-color: lightsteelblue;
  grid-area: article;
}
@media only screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "section section section section"
      "article footer footer footer";
  }
}

@media only screen and (max-width: 400px) {
  header {
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "title signin"
      "searchbox searchbox";
  }
  .searchBox input {
    width: 90%;
    height: 100%;
  }
}
